Untitled-checkpoint.ipynb
utilites/__pycache__
plot-checkpoint.py
manual_rotation_and_movement-checkpoint.ipynb
README-checkpoint.md
ccl-checkpoint.py
*.tif
cloud_drop_1-checkpoint.png
movie2-checkpoint.gif
